<head>
<meta charset = "<%= config["charset"] %>">
<meta http-equiv = "X-UA-Compatible" content = "IE=edge">
<meta name = "viewport" content = "width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1">
<title>
  <%= config["pageTitle"] %>
</title>
<meta
name="description"
content = "<%= config["dsc"] %>"
>
<meta name="author"content="<%= config["author"] %>">
<meta name="keywords"content="株式会社CRAZY,株式会社クレイジー,クレイジー">
<meta name = "theme-color" content = "#000000" >
<meta name = "msapplication-TileColor" content = "#000000">

<meta property="og:type" content="website">
<meta
  property="og:title"
  content="<%= config["pageTitle"] %>"
>
<meta
  property="og:site_name"
  content = "<%= pageTitle %>"
>
<meta property = "og:type" content = "website">
<meta 
property = "og:description" 
content = "<%= config["dsc"] %>"
>
<meta property = "og:url" content = "https://mushu5.github.io/project/dist/html/crazy/">
<meta property = "og:image" content = "https://github.com/mushU5/project/tree/master/dist/html/crazy/images/ogp.jpg"
>

<meta name = "twitter:card" content = "summary_large_image">
<meta 
name = "twitter:title" 
content="<%= pageTitle %>"
>
<meta 
property = "twitter:description" 
content = "<%= config["dsc"] %>"
>

<meta name = "twitter:image" content = "https://github.com/mushU5/project/tree/master/dist/html/crazy/images/ogp.jpg">

<meta name = "google-site-verification" content = "4eho5q-_3w3M1wzcXlNj8LJ8-_a42aTvfvQIMJLpaDw">

<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />

</head>