<%
config["pageTitle"] = "株式会社CRAZY(株式会社クレイジー) | CRAZY,Inc."
config["dsc"] = "株式会社CRAZY(株式会社クレイジー)の公式サイト。CRAZY&nbsp;WEDDING、CRAZY&nbsp;KITCHENなどの事業内容紹介や、働き方、採用、会社情報を掲載しています。"

outline = [
    {
        "h2":"COMPANY",
        "p":"会社概要・オフィスなど"
    }, 
    {
        "h2":"BUSINESS",
        "p":"CRAZYが展開するサービス・事業一覧"
    }, 
    {
        "h2":"PEOPLE",
        "p":"CRAZYで働くすべてのメンバーのご紹介"
    }
] 

news = [
	{
		"date":"PRESS RELEASE 2020/2/20",
		"text":"【星野リゾート×CRAZY WEDDING共同開発】「ナシ婚」を選択する方に向け、結婚式に代わる新サービス「IWAI旅」を開始"
	}, 
	{
		"date":"NEWS 2020/3/13",
		"text":"CRAZY WEDDING BOOK 一般販売 開始いたしました"
	}, 
	{
		"date":"NEWS 2020/2/22",
		"text":"新型コロナウイルス感染症（COVID-19）の感染拡大に伴う対応について"
	}, 
	{
		"date":"MEDIA 2020/1/24",
		"text":"「気鋭のリーダー10人に学ぶ 新しい子育て」に弊社代表 森山の インタビュー記事が掲載されました"
	}
]

magazine = [
	{
		"date":"EVENT 2020/1/15",
		"text":"【前編】「私たち、結婚しないことを誓います」“良い夫婦”にちなんだ1,122万円で前代未聞の式開催"
	}, 
	{
		"date":"BUSINESS 2020/3/8",
		"text":"CRAZY初の地方式場リニューアル——提案したのは「未完成な会場」だった"
	}, 
	{
		"date":"INTERVIEW 2020/1/18",
		"text":"【後編】「私たち、結婚しないことを誓います」“良い夫婦”にちなんだ1,122万円で前代未聞の式開催"
	}, 
	{
		"date":"EVENT 2019/12/10",
		"text":"「主語は“YOU”ではなく“I”」——感情を原動力にする組織論【TOP LIVE】"
	}
]
%>

<!DOCTYPE html>
<html lang="ja">
<%- include(relativePath + "_partial/_crazy_head",config) %>
<body>
<%- include(relativePath + "_partial/_crazy_headerNav") %>
<main class="crazy">
	<section class="p-kv">
		<div class="p-kv_carousel">
			<img src="images/p-kv_01.jpg" alt="IAキャラクター">
			<img src="images/p-kv_02.jpg" alt="IAキャラクター">
			<img src="images/p-kv_03.jpg" alt="IAキャラクター">
		</div>
		<div class="p-kv_textBox">
			<div class="p-kv_textBox_lead">
				<div><span>HUMAN</span></div>
				<div><span>BUSINESS</span></div>
				<div><span>COMPANY</span></div>
			</div>
		</div>
		<div class='p-kv_pager'>
			<div></div>
			<div></div>
			<div></div>
		</div>
		<div class="p-kv_scroll">
			<div class="p-kv_scroll_pointer"></div>
		</div>
	</section>

	<section class="p-contents">

		<section class="p-introduction">
			<h2><span class="c-textSlideIn"><span>WHO WE ARE</span></span></h2>
			<p class="p-introduction_text">CRAZYは、企業の可能性を模索しているビジネス集団です。<br class="mod-disyplayNone_mobile">既存の考え方・働き方にとらわれず、業界・事業を抜本から更新し<br class="mod-disyplayNone_mobile">新たな可能性や真に理想だと言える組織運営の取り組みを発明しています。<br>私たちの活動の根幹は、理想から物事を「本質的に 美しく ユニークに」再定義する営み。<br class="mod-disyplayNone_mobile">そして「クレイジーと言われるレベルでそれを行うこと」が<br class="mod-disyplayNone_mobile">未来に必要な新しいサンプルをこの社会に生み出すことだと信じています。</p>
			<div class="c-button">
				<a href='"/whoweare/' class='c-button_in'>
					<span class="c-button_in_word">READ MORE</span>
					<span class="c-button_in_column"></span>
					<span class="c-button_in_row"></span>
				</a>
			</div>
		</section>

		<ul class="p-outline">
			<% for (var i = 0; i < outline.length; i++) { %>
				<li class="p-itemSlideIn">
					<div class="c-imageSlideIn">
						<div class="c-imageSlideIn_in">
							<img src="images/p-outline_0<%= i + 1 %>.jpg" alt="">
						</div>
					</div>
					<div class="c-textSlideIn">
						<h2><%= outline[i].h2 %></h2>
						<p><%= outline[i].p  %></p>
						<p class="under_line"><span>READ MORE</span></p>
					</div>
				</li>
			<% } %>
		</ul>

		<section class="p-news">
			<h2><span class="c-textSlideIn"><span>NEWS & EVENT</span></span></h2>
			<div class="p-news_contents">
				<div class="p-itemSlideIn p-itemSlideIn-main">
					<div class="c-imageSlideIn">
						<div class="c-imageSlideIn_in">
							<img src="images/p-news_01.jpg" alt="">
						</div>
					</div>
					<div class="c-textSlideIn">
						<p><%= news[0].date %></p>
						<p><span class="hoverOpacity"><%= news[0].text %></span></p>
					</div>
				</div>
				<ul class="p-news_contents_sub p-itemSlideIn-sub">
					<% for (var i = 1; i < news.length; i++) { %>
						<li class="p-itemSlideIn">
							<div class="c-imageSlideIn">
								<div class="c-imageSlideIn_in">
									<img src="images/p-news_0<%= i + 1 %>.jpg" alt="">
								</div>
							</div>
							<div class="c-textSlideIn">
								<p><%= news[i].date %></p>
								<p><span class="hoverOpacity"><%= news[i].text %></span></p>
							</div>
						</li>
					<% } %>
				</ul>
			</div>
			<div class="c-button">
				<a href='"/whoweare/' class='c-button_in'>
					<span class="c-button_in_word">READ MORE</span>
					<span class="c-button_in_column"></span>
					<span class="c-button_in_row"></span>
				</a>
			</div>
		</section>

		<section class="p-photoGallery">
			<div class="p-itemSlideIn">
			<div class="c-imageSlideIn">
				<div class="c-imageSlideIn_in">
					<div class="p-photoGallery_wrap">
						<div class="p-photoGallery_wrap_in">
							<picture>
								<source media="(orientation: portrait) and (max-width: 767px)" srcset="images/mobile/p-photoGallery_01.jpg">
								<img src="images/p-photoGallery_01.jpg" alt='recruit join us'>
							</picture>
							<picture>
								<source media="(orientation: portrait) and (max-width: 767px)" srcset="images/mobile/p-photoGallery_02.jpg">
								<img src="images/p-photoGallery_02.jpg" alt='recruit join us'>
							</picture>
							<picture>
								<source media="(orientation: portrait) and (max-width: 767px)" srcset="images/mobile/p-photoGallery_03.jpg">
								<img src="images/p-photoGallery_03.jpg" alt='recruit join us'>
							</picture>
						</div>
						<div class="c-textSlideIn">
							<h2>RECRUIT</h2>
							<p class="under_line"><span>JOIN US</span></p>
						</div>
					</div>
				</div>
			</div>
			</div>
		</section>

		<section class="p-news">
			<h2><span class="c-textSlideIn"><span>CRAZY MAGAZINE</span></span></h2>
			<div class="p-news_contents">
				<div class="p-itemSlideIn p-itemSlideIn-main">
					<div class="c-imageSlideIn">
						<div class="c-imageSlideIn_in">
							<img src="images/p-news_05.jpg" alt="">
						</div>
					</div>
					<div class="c-textSlideIn">
						<p><%= magazine[0].date %></p>
						<p><span class="hoverOpacity"><%= magazine[0].text %></span></p>
					</div>
				</div>
				<ul class="p-news_contents_sub p-itemSlideIn-sub">
					<% for (var i = 1; i < magazine.length; i++) { %>
						<li class="p-itemSlideIn">
							<div class="c-imageSlideIn">
								<div class="c-imageSlideIn_in">
									<img src="images/p-news_0<%= i + 5 %>.jpg" alt="">
								</div>
							</div>
							<div class="c-textSlideIn">
								<p><%= magazine[i].date %></p>
								<p><span class="hoverOpacity"><%= magazine[i].text %></span></p>
							</div>
						</li>
					<% } %>
				</ul>
			</div>

			<div class="c-button">
				<a href='"/whoweare/' class='c-button_in'>
					<span class="c-button_in_word">VIEW ALL</span>
					<span class="c-button_in_column"></span>
					<span class="c-button_in_row"></span>
				</a>
			</div>
		</section>

	</section>
</main>
<%- include(relativePath + "_partial/_crazy_footer") %>
<script src="../../js/bundle.js"></script>
</body>
</html>