<%
  var pageTitle
%>

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>
  <% if (config.pageTitle) { %>
    <%= config.pageTitle + ' | ' %>
  <% } %>
  <%= config.default.title %>"
</title>
<meta
name="description"
content="<%= config.default.description %>"
>
<meta
name="author"
content="<%= config.default.author %>"
>
<meta
property="og:type"
content="website"
>
<meta
property="og:site_name"
content="<%= config.default.title %>"
>
<meta
  property="og:title"
  content="
  <% if (config.pageTitle) { %>
    <%= config.pageTitle + ' | ' %>
  <% } %>
  <%= config.default.title %>"
>
<meta
  property="og:description"
  content="<%= config.default.description %>"
>
<meta
  property="og:url"
  content="<%= config.default.publicPath %>"
>
<meta
  property="og:image"
  content="<%= config.default.publicPath %>/img/facebook.png"
>
</head>